@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');

/* Grid del primer index */
@media only screen and (min-width:620px) and (max-width:100px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.grid-container {
    border: 1px solid black;
    margin: 1fr;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "producto1 producto1 producto3 producto3"
        "producto1 producto1 producto3 producto3"
        "producto2 producto2 producto4 producto4"
        "producto2 producto2 producto4 producto4"
    ;
}

.producto1 {
    grid-area: producto1;

}

.producto2 {
    grid-area: producto2;
}

.producto3 {
    grid-area: producto3;
}

.producto4 {
    grid-area: producto4;
}

/* Fin del primer grid */
/* Nosotros.html */
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (2, 1fr);
    gap: 5px;
}

@media screen and (max-width:510px) {
    .grid2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat (4, 1fr);
        gap: 5px;
    }
}
