
.titulo_leyenda{
    font-family: 'Blaka'; 
    font-size:xx-large;
    font-style: italic;
    display: flex;
    justify-content: center;
}
.leyenda{
    display: flex;
    justify-content: left;
}
.video_titulo{
    font-size: 25px;
}
.slogans{
    font-size: 25px;
}